<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-card>
    <ion-card-header>
      <ion-card-title style="color: yellow;">Inicio de sesión</ion-card-title>
    </ion-card-header>

    <form [formGroup]="loginForm">
      <ion-item>
        <ion-input type="text" placeholder="ingrese username" label="Usuario:" labelPlacement="floating"
            formControlName="username">
        </ion-input>
      </ion-item>
  
        <div id="alerta" *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || 
                    loginForm.get('username')?.touched)">
          <div id="alerta" *ngIf="loginForm.get('username')?.hasError('required')">
            *Username es obligatorio
          </div>
          <div id="alerta" *ngIf="loginForm.get('username')?.hasError('minlength')">
            *Username debe tener mínimo 6 caracteres
          </div>
        </div>
  
      <ion-item>
        <ion-input type="password" placeholder="ingrese password" label="Password:" labelPlacement="floating"
            formControlName="password">
        </ion-input>
      </ion-item>
  
      <div id="alerta" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || 
                  loginForm.get('password')?.touched)">
        <div id="alerta" *ngIf="loginForm.get('password')?.hasError('required')">
          *Password es obligatoria
        </div>
        <div id="alerta" *ngIf="loginForm.get('password')?.hasError('minlength')">
          *Password debe tener mínimo 8 caracteres
        </div>
      </div>
  
  
      <div style="text-align: center; margin-top:30px; margin-bottom: 30px;">
        <ion-button (click)="login()" [disabled]="!loginForm.valid" shape="round" color="warning">
          Login
        </ion-button> 
        <p><ion-button (click)="register()" fill="clear" shape="round">
          Registrarse
        </ion-button></p>
      </div>
    </form>

   </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Veranstalter ©</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goIG()">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

